body{
    background-color: rgb(236, 238, 240);
}
header{
    background-color: rgb(126, 31, 31);
}
main{
    background-color: rgb(246, 249, 250);
}
section{
    background-color: rgb(235, 241, 239);
}